<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %> 

        <div class="container">
            <h1>Hola, <b>Juan</b></h1>
            <div class="notifications dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notificaciones <i class="fas fa-exclamation-circle "></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Ayudanos a mejorar... Aqui</a>
                </div>
            </div>

            <div class="main-info row">
                <div class="img-container col-6 col-md-4">
                    <img class="" src="/images/otros/avatar.png" alt="Avatar">
                    <button id="visualBtn" class="edit-photo-btn"><i class="fas fa-camera fa-3x"></i></button>
                </div>
                
                
                <div class="col-12 col-md-8">
                    <h4>Juan Kotlin</h4>
                    <h5><i class="fab fa-whatsapp"></i> +54 11 4578-1231</h5>
                    <h5><i class="fas fa-at"></i> mi@mail.com</h5>
                </div>
            </div>

            <div class="extra-info">
                <form id="userForm" class="row" action="/user/account" method="POST" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="name">Nombre:</label>
                                    <input class="ml-3" name="name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="name">Apellido:</label>
                                    <input class="ml-3" name="last_name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="email">E-mail:</label>
                                    <input class="ml-3" name="email" type="text" value="">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 personalInfo">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="genre">Genero:</label>
                                    <select class="ml-3" name="genre" id="genre">
                                        <option value="female">Femenino</option>
                                        <option value="male">Masculino</option>
                                        <option value="other">Otro</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="age">Edad:</label>
                                    <select class="ml-3" name="edad" id="edad">
                                        <% for(let i = 16; i < 50; i++){ %>
                                            <option value="<%= i %>"><%= i %> </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label class="col-12" for="age">Provincia:</label>
                                    <select class="ml-3" name="province" id="province">
                                        <option hidden>Selecciona una Provincia</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label class="col-12" for="age">Telefono:</label>
                                <input name="telephone" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row university">
                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="university">Universidad:</label>
                                    <select class="ml-3" name="university" id="universitySelector"> 
                                        <option hidden>Selecciona una Universidad</option>
                                        <% for(let i = 0; i < universities.length; i++){ %>   
                                            <option value="<%=universities[i].id%>"><%=universities[i].name%></option>
                                        <% } %>   
                                        <option value="others">Otra</option>
                                    </select>
                                    <input style="display: none;" id="university" type="text" name="university" placeholder="Escribí tu universidad">  
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="carrer">Carrera:</label>
                                    <select class="ml-3" name="carrer" id="career"> 
                                        <option hidden>Selecciona una Carrera</option>  
                                        <option value="others">Otra</option>
                                    </select>
                                    <input style="display: none;" id="carrer" type="text" name="carrer" placeholder="Escribí tu carrera">  
                                </div>
        
                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="startDate">Año de inicio:</label>
                                    <input class="ml-3" type="number" name="startDate" placeholder="xxxx">
                                    <!--<select class="ml-3" name="startDate" id="startDate">
                                        <option>Selecciona un año</option>  
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="row course">

                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="institute">Instituto del curso:</label>
                                    <select class="ml-3" name="institute" id="instituteSelector"> 
                                        <option hidden>Selecciona una institucion</option>  
                                        <% for(let i = 0; i < institutes.length; i++){ %>   
                                            <option value="<%=institutes[i].id%>"><%=institutes[i].name%></option>
                                        <% } %> 
                                        <option value="others">Otra</option>
                                    </select>
                                    <input style="display: none;" id="institute" type="text" name="institute" placeholder="Escribí una institucion">  
                                </div>

                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="course">Curso:</label> 
                                    <select class="ml-3" name="course" id="course"> 
                                        <option hidden>Selecciona un Curso</option>  
                                    </select>
                                    <input style="display: none;" id="course" type="text" name="course" placeholder="Escribí tu carrera">  
                                </div>
        
                                <div class="col-12 col-md-4">
                                    <label class="col-12" for="courseStartDate">Año de inicio (curso):</label>
                                    <input class="ml-3" type="number" name="courseStartDate" placeholder="xxxx">
                                    <!--
                                    <select class="ml-3" name="courseStartDate" id="courseStartDate">
                                        <option>Selecciona un año</option>  
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="col-12" for="interests">Intereses: (Ej: Futbol, gastronomia, etc.)</label>
                            <input class="ml-3" id="interests">
                            <button id="interestButton">Agregar</button>
                            <div id="interestsContainer" class="container">
                                
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label class="col-12" for="experiences">Experiencias:</label>
                            <textarea class="ml-3" name="experiences" id="experiences" cols="40" rows="5"></textarea>
                        </div>
                        
                    </div>
                    <input class="inputSeleccionarArchivo" type="file" name="userImg" hidden>             
                </form>
                <div class="btn-container mt-2">
                    <button id="submitBtn" type="submit">Guardar información</button>
                </div>  
            </div>
        </div>
        <%- include('./partials/footer') %>
        <script src="/js/interests.js"></script>
        <script src="/js/account.js"></script>
        <%- include('./partials/scripts') %>
    </body>
</html>