<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

        <h4 class="statInfo">Aca podes encontrar distintas preguntas o inquitudes que han dejado futuros estudiantes... ¡Ayudalxs a elegir!</h4>

        <form action="/user/answerQuestion/<%= user.id %>" method="POST" class="ml-5 mt-5 d-flex flex-column justify-content-center form-stat">
           
            <div id="stat">
                <select class="select-answer" name="question" id="">
                <option value="" hidden>Seleccione una pregunta para responder</option>
                <% for(let i = 0; i < questions.length; i++) { %>
                    <option value="<%=questions[i].id%>"><%=questions[i].text%></option>
                <% } %>
                </select>
                <% if(typeof errors != 'undefined'){ %> 
                    <% for(let i = 0 ; i < errors.length ; i++){ %> 
                        <% if(errors[i].param == 'question') {%>
                            <div>
                            <small class="text-danger"><%= errors[i].msg %> </small>
                            </div>
                        <% } %>          
                    <% } %> 
                <% } %> 
            </div>

            <div id="stat">
                <span style="font-size: small;">(maximo 600 caracteres)</span><br>
                <textarea name="answer" id="answer" cols="30" rows="10" maxlength="600"></textarea>
                <% if(typeof errors != 'undefined'){ %> 
                    <% for(let i = 0 ; i < errors.length ; i++){ %> 
                        <% if(errors[i].param == 'answer') {%>
                            <small class="text-danger"><%= errors[i].msg %> </small>
                        <% } %>          
                    <% } %> 
                <% } %> 
            </div>
            
            <div>
                <button class="my-5 stat-btn-submit" type="submit">Enviar respuesta</button>
            </div>

        </form>
        <%- include('./partials/scripts.ejs') %>
    </body>
</html>