<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>
    
    
    <div class="container">
        
        <div class="wrapper-title">
            <div class="main-title">
                <img src="/images/users/<%=user.photo%>" alt="">
                <h2 class="profile-detail-title"><%= user.name + ' ' + user.last_name %></h2>
            </div>
               
            <% if(typeof userLoggedIn != 'undefined') { %>
                <% if(user.telephone != '' && user.telephone != null) { %>
                    <a href="https://api.whatsapp.com/send?phone=<%= user.telephone %>" class="d-flex"><p class="conditional-whatsapp"><i class="fab fa-whatsapp"></i></p></a> 
                <% } %>
                <p class="text-center"><%=user.email%></p>
            <% }else{ %>
                <a href="/user/login">Ingresa para contactarte</a>
            <% } %>
            
        </div>
            
        <div class="row">
            <section class="wrapper-detail-profile col-12 col-md-8">
                    
                <article class="profile-experiences">
                    <div class="university-user-wrapper">
                        <h4 class="uni detail-title-labels">Universidad</h4>
                        <% for(let i = 0 ; i < university_career.length ; i++){ %> 
                            <h6 class="user-formation-subtitle"><%= university_career[i].name %></h6>
                            <% for(let j = 0 ; j < university_career[i].Careers.length ; j++){ %> 
                                <h6 class="user-formation-subtitle"><i class="fas fa-book-open pr-2"></i><%= university_career[i].Careers[j].name%></h6>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="course-user-wrapper">
                        <h4 class="course detail-title-labels">Cursos</h4>
                        <% for(let i = 0 ; i < institute_courses.length ; i++){ %> 
                            <h6 class="user-formation-subtitle"><%=institute_courses[i].name%></h6>
                            <% for(let j = 0 ; j < institute_courses[i].Courses.length; j++){ %> 
                                <h6 class="user-formation-subtitle"><i class="fas fa-book-open pr-2"></i><%=institute_courses[i].Courses[j].name%></h6>
                            <% } %>

                        <% } %>
                    </div>
                </article>
                <article class="profile-interests">
                    <div class="interest-user-wrapper">
                        <h4 class="interests-title detail-title-labels">Intereses</h4>
                        <ul class="interests d-flex">
                            <% for(let i = 0; i < user.Interest.length; i++){ %>
                                <li><%= user.Interest[i].interest_name %></li>
                            <% } %>
                        </ul>
                    </div>
                </article>
                <article class="profile-interests">
                    <div class="experiences-user-wrapper">
                        <h4 class="experiences-title detail-title-labels">Experiencias</h4>
                        <h6><%= user.experiences %></h6>  
                    </div>                  
                </article>
            </section>
                
                <aside class="conditional-question-and-tips col-12 col-md-4">
                    <div class="tips-user-wrapper">
                        <h4 class="tips-title detail-title-labels">Tips</h4>
                        <% for(let i = 0; i < user.User_tips.length; i++){ %>
                            <p><i class="far fa-check-circle"></i> <%= user.User_tips[i].tip %></p>    
                        <% } %>
                    </div>
                </aside>
        </div>     
            
    </div> 
        
        
        <%- include('./partials/scripts') %>
        <%- include('./partials/footer') %>
    </body>
    </html>        