<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>  
                <!-- filter mobile -->
                <div class="div-filter" id="slider">
                    <span class="arrow arrow-left"></span>
                    <form action="/meet/filters?" method="GET" class="filter-form" name="filter">
                        <a href="#universidad" data-toggle="collapse" ><p class="universidad">Universidad</p></a>
                        <div class="collapse" id="universidad">
                            <div class="card">
                                <% if(typeof universities != 'undefined'){ %>
                                    <% for(let i = 0; i < universities.length; i++){ %>
                                        <label for="<%=universities[i].name%>"><input onclick="addInputChecked('university<%= i %>')" type="checkbox" name="university" id="university" value="<%=universities[i].id%>"><%=universities[i].name%></label>    
                                    <% } %>                                
                                <% } %>
                            </div>
                        </div>

                    <a href="#carrera" data-toggle="collapse" ><p>Carrera</p></a>
                        <div class="collapse" id="carrera">
                            <div class="card">
                                <% if(typeof careers != 'undefined'){ %>
                                    <% for(let i = 0; i < careers.length; i++){ %>

                                        <label for="<%=careers[i].name%>"><input onclick="addInputChecked('career<%= i %>')" type="checkbox" name="career" id="career" value="<%=careers[i].name%>"><%=careers[i].name%></label>    

                                    <% } %>                                
                                <% } %>
                            </div>
                        </div>

                    <a href="#institutos" data-toggle="collapse" ><p>Institutos</p></a>
                        <div class="collapse" id="institutos">
                            <div class="card">
                                <% if(typeof institutes != 'undefined'){ %>
                                    <% for(let i = 0; i < institutes.length; i++){ %>
                                        <label for="<%=institutes[i].name%>"><input onclick="addInputChecked('institute<%= i %>')" type="checkbox" name="institutes" id="institutes" value="<%=institutes[i].id%>"><%=institutes[i].name%></label>    
                                    <% } %>                                
                                <% } %>
                            </div>
                        </div>

                    <a href="#cursos" data-toggle="collapse" ><p>Cursos</p></a>
                        <div class="collapse" id="cursos">
                            <div class="card">
                                <% if(typeof courses != 'undefined'){ %> 
                                    <% for (let i=0; i<courses.length; i++){ %>
                                    <label for="<%=courses[i].name%>"><input onclick="addInputChecked('course<%= i %>')" type="checkbox" name="courses" id="courses" value="<%=courses[i].name%>"><%=courses[i].name%></label> 
                                    <% } %> 
                                <% } %>
                            </div>
                        </div>
                    
                    
                    <a href="#intereses" data-toggle="collapse" ><p>Intereses</p></a>
                        <div class="collapse" id="intereses">
                            <div class="card">
                                <% if(typeof interests != 'undefined'){ %>
                                    <% for(let i = 0; i < interests.length; i++){ %>
                                        <label for="<%=interests[i].interest_name%>"><input onclick="addInputChecked('interest<%= i %>')" type="checkbox" name="interest" id="interest" value="<%= interests.id %>" ><%=interests[i].interest_name%></label>    
                                    <% } %>                                
                                <% } %>  
                            </div>
                        </div>

                    <a href="#region" data-toggle="collapse" ><p>Region</p></a>
                        <div class="collapse" id="region">
                            <div class="card" id="regionCard">
                                
                            </div>
                        </div>

                    <a href="#anio" data-toggle="collapse" ><p>Año de Universidad</p></a>
                        <div class="collapse" id="anio">
                            <div class="card">
                                <label for=""><input onclick="addInputChecked('year1')" type="checkbox" name="year" value="1" id="">1</label>
                                
                                <label for=""><input onclick="addInputChecked('year2')" type="checkbox" name="year" value="2" id="">2</label>
                                
                                <label for=""><input onclick="addInputChecked('year3')" type="checkbox" name="year" value="3" id="">3</label>
                                
                                <label for=""><input onclick="addInputChecked('year4')" type="checkbox" name="year" value="4" id="">4</label>
                                
                                <label for=""><input onclick="addInputChecked('year5')" type="checkbox" name="year" value="5" id="">5</label>
                                
                                <label for=""><input onclick="addInputChecked('year6')" type="checkbox" name="year" value="6" id="">6</label>
                                
                            </div>
                        </div>
                    <a href="#genero" data-toggle="collapse" ><p>Genero</p></a>
                        <div class="collapse" id="genero">
                            <div class="card">
                                
                                <label for="genre"><input onclick="addInputChecked('genre1')" type="checkbox" name="genero" value="1" id="1">Femenino</label>
                                
                                <label for="genre"><input onclick="addInputChecked('genre2')" type="checkbox" name="genero" value="2" id="2">Masculino</label>
                                
                                <label for="genre"><input onclick="addInputChecked('genre3')" type="checkbox" name="genero" value="3" id="3">Otro</label>
                                
                            </div>
                        </div>
                    <a href="#edad" data-toggle="collapse" ><p>Edad</p></a>
                        <div class="collapse" id="edad">
                            <div class="card">
                                <label for="age"><input onclick="addInputChecked('age1')" type="checkbox" name="age" value="18-23" id="age">18-23</label>
                                
                                <label for="age"><input onclick="addInputChecked('age2')" type="checkbox" name="age" value="24-29" id="age">24-29</label>
                                
                                <label for="age"><input onclick="addInputChecked('age3')" type="checkbox" name="age" value="30-35" id="age">30-35</label>

                                <label for="age"><input onclick="addInputChecked('age4')" type="checkbox" name="age" value="35" id="age">35+</label>
                            </div>
                        </div>
                        <button type="submit" class="filter-btn">Filtrar</button>
                    </form>
                </div>

    <div class="sleep-background d-none">
        <h3>¡Preguntenle a estudiantes actuales por Whatsapp!</h3>
        <img src="/images/meetGuide.jpeg" alt="">
    </div>

    
    
    <div class="container container-meet">
        <h1 id="meet-title">¡Conocé más estudiantes! </h1>
        <button class="btn-filter" id="toggle">Filtrar</button>
            <div class="row d-flex justify-content-center">                              

                <% for( let i = 0; i < userStudies.length; i++) { %>
                    <div class="col-10 col-md-3 estudiante">
                        <img src="/images/users/<%= userStudies[i].photo %>" alt="">
                        <h3><%= userStudies[i].name %></h3> 

                        <% if(userStudies[i].User_careers.length > 0) { %>
                            <p><%=  userStudies[i].User_careers[0].name %></p>
                            <% for(let j = 0; j < universityCareers.length; j++) { %>
                                <% if(userStudies[i].User_careers[0].id == universityCareers[j].id) { %>
                                    <p><%= universityCareers[j].Universities.name %></p>
                                <% } %>
                            <% } %> 
                        <% } else if(userStudies[i].User_courses.length > 0) { %>
                            <p><%= userStudies[i].User_courses[0].name %></p>
                            <% for(let j = 0; j < instituteCourses.length; j++) { %>
                                <% if(userStudies[i].User_courses[0].id == instituteCourses[j].id) { %>
                                    <p><%= instituteCourses[j].Institutes.name %></p>
                                <% } %>
                            <% } %>
                        <% } %>

                        <a href="/meet/detail/<%= userStudies[i].id %>"><button> Ver Perfil</button></a>
                    </div>
                <% } %>

                
            </div>

    </div>

    

    <%- include('./partials/scripts') %>
    <script src="/js/meet.js"></script>
    <%- include('./partials/footer') %>
</body>
</html>