<header>
    
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-8" hidden>ELIJO</h1>

            <div class="phoneMenu">
                <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                    <svg width="45" height="45" viewBox="0 0 100 100">
                        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                        <path class="line line2" d="M 20,50 H 80" />
                        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                    </svg>
                </button>
    
                <nav class="sidebar">
                    <div class="text">
                        Menu
                    </div>
                    <ul>
                        <li><a href="/">ELIJO</a></li>               
                        <li><a href="/posta">La posta</a></li>
                        <li><a href="/meet">Conocer estudiantes</a></li>
                        <!-- <li><a href="/why">Por qué</a></li> -->
                        <% if(typeof userLoggedIn != 'undefined' && (userLoggedIn.rol == 1 || userLoggedIn.rol == "1")){ %>
                            <li><a href="/population/formsDb">Formularios DB</a></li>
                        <% } %>
                        <div class="userOptions">
                            <% if(typeof userLoggedIn == 'undefined') { %>
                                <li><a href="/user/register">Sign up</a></li>
                                <li><a href="/user/login">Log In</a></li>
                            <% }else{ %>
                                
                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseAccount" role="button" aria-expanded="false" aria-controls="collapseAccount">
                                        Cuenta <i class="fas fa-caret-down 2x"></i>
                                    </a>
                                    <div id="collapseAccount" class="collapse" >
                                        <div class="card card-body w-100 p-0 dropMobileAccount">
                                            <a class="dropdown-item text-center w-100 p-0 pt-3" href="/user/account/<%=userLoggedIn.id%>">Perfil</a>
                                            <% if(userLoggedIn.rol == '2' || userLoggedIn.rol == 2){ %> 
                                                <a class="dropdown-item text-center w-100 p-0 pt-3" href="/user/createStats/<%=userLoggedIn.id%>">Aporta Datos</a>
                                                <a class="dropdown-item text-center w-100 p-0 pt-3" href="/user/createQualification/<%=userLoggedIn.id%>">Calificar</a>
                                                <a class="dropdown-item text-center w-100 p-0 pt-3" href="/user/createTip/<%=userLoggedIn.id%>">Escribir Tip</a>
                                                <a class="dropdown-item text-center w-100 p-0 pt-3" href="/user/answerQuestion/<%=userLoggedIn.id%>">Responder Pregunta</a> 
                                            <% } %> 
                                        </div>
                                    </div>
                                
                                <li><a href="/user/logout">Log out</a></li>
                            <% } %>
                        </div>
                    </ul>
                </nav>
            </div>

            
        </div>        
    </div>
    <div class="pcMenu">
        <div id="la-posta-reminder" class="text-container d-none">
            <p>¡Mira reseñas, comentarios y consejos de universidades, carreras, cursos e inclusive materias!</p>
        </div>
        <div id="meet-students-reminder" class="text-container d-none">
            <p>¡Preguntale lo que quieras a un estudiante actual de la universidad y carrera que quieras!</p>
        </div>
        <nav>
            
            <ul>
                <li><a href="/">ELIJO</a></li>
                <li id="box" class="posta"><a href="/posta">La posta</a></li>
                <li id="box" class="meet"><a href="/meet">Conocer estudiantes</a></li>
                
                <li><a href=""></a></li>
                <%if(typeof userLoggedIn != 'undefined' && (userLoggedIn.rol == 1 || userLoggedIn.rol == "1")){%>
                    <li><a href="/population/formsDb">Formularios DB</a></li>
                <% } %>
                <div>
                    <% if(typeof userLoggedIn == 'undefined') { %>
                        <li><a href="/user/register">Sign up</a></li>
                        <li><a href="/user/login">Log In</a></li>
                    <% }else{ %>
                        <li>
                            <div class="dropmenuAccountContainer dropdown">
                                <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cuenta <i class="fas fa-caret-down 2x"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right headerCuenta dropmenuAccount" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/user/account/<%=userLoggedIn.id%>">Perfil</a>
                                    <% if(userLoggedIn.rol == '2' || userLoggedIn.rol == 2){ %> 
                                        <a class="dropdown-item" href="/user/createStats/<%=userLoggedIn.id%>">Aporta Datos</a>
                                        <a class="dropdown-item" href="/user/createQualification/<%=userLoggedIn.id%>">Calificar</a>
                                        <a class="dropdown-item" href="/user/createTip/<%=userLoggedIn.id%>">Escribir Tip</a>
                                        <a class="dropdown-item" href="/user/answerQuestion/<%=userLoggedIn.id%>">Responder Pregunta</a> 
                                    <% } %>
                                    <a class="dropdown-item" href="/user/logout">Log out</a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </div>
            </ul>
        </nav>
    </div>
</header>
